<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Applicant Page</title>
</head>
<body>
	Hello I am Ok!>>>>>>>>>>>>>>>>>>>>>>>>>>>
		<div align="center">
        <h1>Applicant Page</h1>
        <br />
        <form action="saveApp" method="post" enctype="multipart/form-data">
                          
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Applicant Name:</td>
                  	<td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Applicant Email:</td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td>Applicant PhoneNumber:</td>
                    <td><input type="text" name="phoneNumber"/></td>
                </tr>
                <tr>
                    <td>Applicant Addresss:</td>
                    <td><input type="text" name="address"/></td>
                </tr> 
                    <tr>
                    <td>Upload Your Cv File:</td>
                     <input type="file" id="myFile" name="image">
                </tr> 
               
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>