<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		Hello I am Ok!>>>>>>>>>>>>>>>>>>>>>>>>>>>
		<div align="center">
        <h1>Applicant Page</h1>
        <br />
        <form action="saveEpp" method="post" enctype="multipart/form-data">
                          
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Employer Email:</td>
                  	<td><input type="text" name=" email" /></td>
                </tr>
                <tr>
                    <td>Employer Password:</td>
                    <td><input type="text" name="password"/></td>
                </tr>
                <tr>
                    <td>Employer Company Name:</td>
                    <td><input type="text" name="companyName"/></td>
                </tr>
                <tr>
                    <td>Employer PhoneNumber:</td>
                    <td><input type="text" name="phonenumber"/></td>
                </tr> 
               		 <tr>
                    <td>Employer Address:</td>
                    <td><input type="text" name="address"/></td>
                </tr> 
               
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>